.titulo{

    color: #7D2948;
    font-weight: bold;

}

.paragrafo{
    font-size: 25px;
}

.btn-new{

    background-color: #7D2948;
    color: white;
}

label{
    font-weight: bold;
}

.box-vagas{

    width: 400px;
    margin-top: 60px;
    background-color: #EDE6E6;
}

.header-vagas{
    background-color: #7D2948;
    padding: 15px;
    color: white
}

.body-vagas{
    padding: 15px;
}

.paragrafo-roxo{
    color: #631f38;
} 

.btn-danger{
    float: right;
    
}

.links{
    font-size: 20px;
    color: white;
    text-decoration: none;
    
}

.links:hover{
    color: #FFC0CB;
    text-decoration: none;
    font-weight: bold
}

